:root {
  /* Defaults */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Colours */
  --dark: #2e2e2e;
  --primary: #9c61f1;
  --secondary: #43ba7f;
  --helping: #ff7570;
  --color-1: #e5c6ff;
  --color-2: #fef4ea;
  --dark---d0: #ffffff;
  --dark---d10: #fbfbfb;
  --dark---d20: #f7f7f7;
  --dark---d30: #eeeeee;
  --dark---d40: #e4e4e4;
  --dark---d50: #cbcbcb;
  --dark---d60: #bebebe;
  --dark---d70: #b4b4b4;
  --dark---d80: #a7a7a7;
  --dark---d90: #9b9b9b;
  --dark---d100: #8e8e8e;
  --dark---d200: #828282;
  --dark---d300: #757575;
  --dark---d400: #6b6b6b;
  --dark---d500: #5e5e5e;
  --dark---d600: #545454;
  --dark---d700: #454545;
  --dark---d800: #383838;
  --dark---d900: #2e2e2e;
  --primary---p0: #ffffff;
  --primary---p10: #fdfcff;
  --primary---p20: #fbf9fe;
  --primary---p30: #f7f2fe;
  --primary---p40: #f2eafd;
  --primary---p50: #e6d8fc;
  --primary---p60: #e0cefb;
  --primary---p70: #dbc6fa;
  --primary---p80: #d5bdf9;
  --primary---p90: #cfb3f8;
  --primary---p100: #caaaf7;
  --primary---p200: #c4a0f7;
  --primary---p300: #be97f6;
  --primary---p400: #b98ff5;
  --primary---p500: #b385f4;
  --primary---p600: #ae7df4;
  --primary---p700: #a772f3;
  --primary---p800: #a169f2;
  --primary---p900: #9c61f1;
  --secondary---s0: #ffffff;
  --secondary---s10: #fbfefc;
  --secondary---s20: #f7fcfa;
  --secondary---s30: #f0f9f5;
  --secondary---s40: #e7f6ee;
  --secondary---s50: #d0eedf;
  --secondary---s60: #c5ead7;
  --secondary---s70: #bbe6d1;
  --secondary---s80: #b0e2c9;
  --secondary---s90: #a5dec2;
  --secondary---s100: #99daba;
  --secondary---s200: #8ed6b2;
  --secondary---s300: #83d1ab;
  --secondary---s400: #7acea4;
  --secondary---s500: #6eca9c;
  --secondary---s600: #65c696;
  --secondary---s700: #58c28d;
  --secondary---s800: #4cbd85;
  --secondary---s900: #43ba7f;
  --helping---h0: #ffffff;
  --helping---h10: #fffcfc;
  --helping---h20: #fff9f9;
  --helping---h30: #fff4f4;
  --helping---h40: #ffedec;
  --helping---h50: #ffdddb;
  --helping---h60: #ffd4d3;
  --helping---h70: #ffcdcc;
  --helping---h80: #ffc5c3;
  --helping---h90: #ffbdba;
  --helping---h100: #ffb4b2;
  --helping---h200: #ffaca9;
  --helping---h300: #ffa4a1;
  --helping---h400: #ff9d99;
  --helping---h500: #ff9591;
  --helping---h600: #ff8e8a;
  --helping---h700: #ff8480;
  --helping---h800: #ff7c77;
  --helping---h900: #ff7570;
  /* Spacing */
}
