@font-face {
  font-family: "Champ";
  src: url("Champ-Black.eot");
  src: local("Champ Black"), local("Champ-Black"),
    url("Champ-Black.eot?#iefix") format("embedded-opentype"),
    url("Champ-Black.woff2") format("woff2"),
    url("Champ-Black.woff") format("woff"),
    url("Champ-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
