.section {
  padding-left: 24px;
  padding-right: 24px;
}

.faqs li {
  list-style: auto;
  margin-left: 16px;
  font-family: Champ;
}

.faqs ::marker {
  font-size: 18px;
}

.dog-walking-header {
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.about-dog-walking {
  background-image: url("../assets/paw-print.svg");
  background-repeat: no-repeat;
  background-clip: padding-box;
}
.gallery {
  background-image: url("../assets/paw-print.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-clip: padding-box;
}
.locations {
  background-image: url("../assets/paw-print.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-clip: padding-box;
}

body {
  background-color: var(--color-2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  position: relative;
  bottom: 32px;
}

h1 {
  margin-bottom: 16px;
}
h2 {
  margin-bottom: 16px;
}

p {
  margin-bottom: 16px;
}

#dog-walking-locations {
  height: 300px;
  margin-bottom: 16px;
  width: 100%;
}

.dog-walking-prices {
  margin: 16px;
  line-height: 1.6;
}

.dog-walking-prices li {
  list-style: disc;
}

.swiper-slide img {
  object-fit: contain;
  margin-bottom: 24px;
  border-radius: 16px;
  height: 350px;
  width: 100%;
}

.swiper {
  margin-bottom: 16px;
}
