@import url("./constants.css");

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-2);
}

.error-content-wrapper {
  padding: 24px;
  background-color: var(--color-2);
  height: 100%;
}

.error-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 24px;
}

p {
  margin-bottom: 24px;
}

button {
  color: var(--dark---d0);
  background-color: var(--dark);
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  cursor: pointer;
  margin-bottom: 24px;
}

button a {
  color: var(--dark---d0);
}

p a {
  color: var(--dark---d500);
  text-decoration: underline;
}
