body {
  background-color: var(--color-2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  position: relative;
  bottom: 32px;
}

.pet-sitting-content-wrapper {
  padding: 24px;
}

h1 {
  margin-bottom: 16px;
}
h2 {
  margin-bottom: 8px;
}

p {
  margin-bottom: 16px;
  word-break: break-word;
}

.pet-sitting-prices {
  margin: 16px;
  line-height: 1.6;
}

.pet-sitting-prices li {
  list-style: disc;
}

.swiper-slide img {
  object-fit: contain;
  margin-bottom: 24px;
  border-radius: 16px;
  height: 350px;
  width: 100%;
}

.faqs li {
  list-style: auto;
  margin-left: 16px;
  font-family: Champ;
}

.faqs ::marker {
  font-size: 18px;
}
